* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    min-height: 100vh;
}

.header, .tagline {
    background-color: #32587c;
    color: white;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    display: flex;
}

ul {
    display: flex;
    gap: 32px;
    list-style: none;
    font-weight: 600;
    margin-right: 32px;
}

h1 {
    padding: 8px;
    margin: 0;
    margin-left: 16px;
    font-weight: 920;
    color: rgb(241, 255, 116);
}

.header {
    justify-content: space-between;
}

.tagline {
    flex-direction: column;
}

.featured {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: rgb(175, 175, 175);
    display: flex;
    justify-content: center;
    align-content: center;
    color: 33495e;
    padding: 24px;
    font-weight: 600;
}

.photoplace {
    background-color: aqua;
    flex-wrap: wrap;
}

.top4 {
    display: flex;
    gap: 48px;
    min-height: 200px;
    min-width: 200px;
    padding: 48px;
    justify-content: center;
    flex-wrap: wrap;
}