* {
    font-family: 'Times New Roman', Times, serif;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    min-height: 100vh;
}

.header, .tagline {
    background-color: #32587c;
    color: white;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    display: flex;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    display: flex;
    gap: 32px;
    list-style: none;
    font-weight: 600;
    margin-right: 32px;
}

h1 {
    padding: 8px;
    margin: 0;
    margin-left: 16px;
    font-weight: 920;
    color: rgb(241, 255, 116);
}

button {
    background-color: #32587c;
    color: white;
    font-weight: 900;
    font-size: xx-large;
    height: 80px;
    width: 200px;
}

.header {
    justify-content: space-between;
    padding-top: 12px;
    max-height: 80px;
}

.tagleft {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 32px;
    padding: 32px;
    padding-top: 0;
}

.tagline {
    justify-content: space-between;
    max-height: 450px; 
}

#statement {
    display: flex;
    font-size: large;
    font-size: x-large;
    max-width: 400px;
    max-height: 120px;
    margin-left: 16px;
    margin-top: 0;
}

#quote {
    font-style: italic;
    font-size: xx-large;
}

#apt {
    color: purple;
    text-decoration: underline;
}

#aptpara {
}

.booking {
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 255, 116);
    min-height: 400px;
    justify-content: space-between;
}

.featured {
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: rgb(175, 175, 175);
    display: flex;
    justify-content: center;
    align-content: center;
    color: 33495e;
    padding: 24px;
    font-weight: 600;
}

.photoplace {
    background-color: rgb(241, 255, 116);
    flex-wrap: wrap;
    border-radius: 15%;
    display: flex;
    align-content: center;
    flex-wrap: wrap;
    outline: 3px;
    outline-color: black;
}

.top4 {
    display: flex;
    gap: 48px;
    min-height: 200px;
    min-width: 200px;
    padding: 48px;
    justify-content: center;
    flex-wrap: wrap;
}